[user]
	name = mjr2595

[init]
	defaultBranch = main

[include]
	path = ~/.gitconfig.local

[includeIf "gitdir:/Volumes/me/**"]
	path = /Volumes/me/.gitconfig
[core]
	sshCommand = ssh -o WarnWeakCrypto=no-pq-kex
